<% if signed_in? %>
  <div class="top-text-block3">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>投稿一覧</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron top-text-block1">
    <h1>Pictweet</h1>
    <h2>
     〜お気に入り絵本で繋がろう〜
    </h2>
    <div class="btn-wrap" style="position:relative;display:inline-block;">
     <%= image_tag("b-book.png", :class => "image-tag-test-class1") %>
     <%= link_to "新規登録", new_user_registration_path,class: "btn btn-lg btn-primary bbtext" %>
    </div>

    <div class="btn-wrap" style="position:relative;display:inline-block;">
     <%= image_tag("y-book.png", :class => "image-tag-test-class2") %>
     <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-primary ybtext" %>
    </div>
    
  </div>
  
  

  <!--<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>-->
  
  
<% end %>