<% provide(:title, "Sign in") %>
<div class="center jumbotron top-text-block1">
<h1>ログイン</h1>

<%= form_for(:user, url: user_session_path) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="field">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :パスワード %>
      <%= f.password_field :password %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
    </div>
 
    <p><%= link_to "新規登録はこちら", new_user_registration_path %></p>
  </div>
</div>
</div>
<% end %>